/* ==========================
   GATE LAYER
========================== */

#gate{

    position:fixed;
    inset:0;

    z-index:100;

    pointer-events:auto;

    perspective:2200px;

}

/* ==========================
   FRAME
========================== */

#frame{

    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;

    z-index:3;

    pointer-events:none;

}

/* ==========================
   LEFT DOOR
========================== */

#leftDoor{

    position:absolute;

    left:0;
    top:0;

    width:50%;
    height:100%;

    object-fit:cover;

    object-position:left center;

    transform-origin:left center;

    transition:transform 2.4s ease;

    z-index:2;

}

/* ==========================
   RIGHT DOOR
========================== */

#rightDoor{

    position:absolute;

    right:0;
    top:0;

    width:50%;
    height:100%;

    object-fit:cover;

    object-position:right center;

    transform-origin:right center;

    transition:transform 2.4s ease;

    z-index:2;

}

/* ==========================
   OPEN
========================== */

#gate.open #leftDoor{

    transform:
        perspective(2200px)
        rotateY(-105deg);

}

#gate.open #rightDoor{

    transform:
        perspective(2200px)
        rotateY(105deg);

}
