/* =====================================
   GATE
===================================== */

#gate{

    position:absolute;
    inset:0;

    z-index:100;

    perspective:2500px;

    overflow:hidden;

}

/* ---------- FRAME ---------- */

#frame{

    position:absolute;

    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;

    z-index:30;

    pointer-events:none;

    transition:opacity .8s ease;

}

/* ---------- DOORS ---------- */

#leftDoor,
#rightDoor{

    position:absolute;

    top:0;

    width:50%;
    height:100%;

    object-fit:cover;

    backface-visibility:hidden;

    transform-style:preserve-3d;

    transition:
        transform 2.4s cubic-bezier(.2,.8,.2,1),
        opacity .6s ease;

}

/* LEFT */

#leftDoor{

    left:0;

    object-position:left center;

    transform-origin:left center;

    z-index:20;

}

/* RIGHT */

#rightDoor{

    right:0;

    object-position:right center;

    transform-origin:right center;

    z-index:20;

}

/* ---------- OPEN ---------- */

body.open #leftDoor{

    transform:
        perspective(2500px)
        rotateY(-108deg);

}

body.open #rightDoor{

    transform:
        perspective(2500px)
        rotateY(108deg);

}

body.open #frame{

    opacity:0;

    transition-delay:1.8s;

}

/* ---------- GATE REMOVE ---------- */

body.open #gate{

    animation:
        removeGate .8s ease 2.6s forwards;

}

@keyframes removeGate{

    to{

        opacity:0;
        visibility:hidden;

    }

}
